.musclegroupcardcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.buttons{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.musclebutton{
margin: 25px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.muscleIcon{
width: 50%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
